
.icon-button {
    --button-size: calc(var(--nav-size) * 0.6);
    width: var(--button-size);
    height: var(--button-size);
    border-radius: 50%;
    background-color: #484a4d;
    padding: 5px;
    margin:  5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 0.3s ease-out;
}
.nav-item {
    width: calc(var(--button-size) + 10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item:hover {
    filter: brightness(0.7);
    width: calc(var(--button-size) + 10px);
}



#navbar a {
    color: white;
    text-decoration: none;
}
