.about-container {
    max-width: 60rem;
    width: 100%;
    border: 1px solid black;

}
.about {
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.about-content {
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
}

 .hr-about hr {
    border: 1px solid black;
}
