.about-container {
  max-width: 60rem;
  width: 100%;
  border: 1px solid black;
}
.about {
  border: 1px solid black;
  display: flex;
  justify-content: center;
}
.about-container  {
    /* color: var(--third-bg); */
    font-size: 1.25rem;
}

.about-title {
  font-size: 1.5rem;
  font-weight: 450;
  
}
