.icon-button {
    --button-size: calc(var(--nav-size) - 10px);
}

.icon-button {
    --button-size: calc(var(--nav-size) - 10px);
    width: var(--button-size);
    height: var(--button-size);
    border-radius: 50%;
    background-color: #484a4d;
    padding: 5px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
