:root {
  --primary-bg: #242526;
  --secondary-bg: #9ACD32;
  --primary-text-color: #28282B;
  --secondary-text-color: #cecece;
  --border-radius: 8px;
  --speed: 500ms;
  --letter-spacing: 1em;
}
.dropdown-menu {
  position: fixed;
  background-color: #9ACD32;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}


::selection {
  background: var(--primary-text-color);
  color: #fff;
}
.dropdown-menu ul {
  padding-top: 20px;
  list-style: none;
  margin-top: 0;
  font-weight: 500;
  letter-spacing: 3px;
}
.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY();
  transition: var(--speed) ease;
}

.dropdown-menu.active li {
  animation: falling 1s ease;
  visibility: visible;
  overflow: hidden;
  transform-origin: bottom center;
}

@keyframes falling {
  5% {
    transform: rotateX(240deg);
  }

  7% {
    transform: rotateX(150deg);
  }

  15% {
    transform: rotateX(200deg);
  }

  20% {
    transform: rotateX(175deg);
  }

  40%,
  50% {
    transform: rotateX(180deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translatey(-20px);
  transition: var(--speed) ease;
}

.menu-container {
  display: flex;
  justify-content: center;
  color: var(--primary-text-color);
}

.menu-trigger {
  cursor: pointer;
  width: 100%;
  max-width: 70rem;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

.dropdown-item {
  margin-top: 30px;
}

.dropdown-item:hover {
  cursor: pointer;
  letter-spacing: 1rem;
  opacity: 1;
  visibility: visible;
  transition: 400ms ease;
}

.dropdown-item:not(:hover) {
  transition: 400ms ease;
}

.dropdown-content {
  max-width: 60rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 20vh;
}

/* 14 */
.btn {
  border: 3px solid black;
}
.btn:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #070606;
  transition: all 0.3s ease;
}

.btn:hover {
  color: white;
}
.btn:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}

.custom-btn {
  width: 140px;
  height: 50px;
  color: #111111;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  font-size:15px;
  font-weight: bold;
}

.nav-icon {
  color: #cccccc;
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #cccccc;
  margin: 6px 0;
  transition: 0.4s;
}

.bar2 {
  width: 25px;
  height: 5px;
  background-color: #cccccc;
  margin: 6px 0;
  transition: 0.4s;
}

.bar1-black,
.bar3-black {
  width: 35px;
  height: 5px;
  background-color: #28282B;
  margin: 6px 0;
  transition: 0.4s;
}

.bar2-black {
  width: 25px;
  height: 5px;
  background-color: #28282B;
  margin: 6px 0;
  transition: 0.4s;
}

.bar1-inactive {
  transform: translate(0, 11px) rotate(-45deg);
  background-color: #333;
}

.bar2-inactive {
  opacity: 0;
}

.bar3-inactive {
  background-color: #333;
  transform: translate(0, -11px) rotate(45deg);
}

.logo {
  letter-spacing: 0.5rem !important;
  color: white
}

.logo-black {
  letter-spacing: 0.5rem !important;
  color: #28282B;
}

.logo p:hover {
  letter-spacing: 1.5rem;
  transition: 0.3s;
}

.logo p:not(:hover) {
  letterw-spacing: 1.5rem;
  transition: 0.3s;
}

.logo-black p:hover {
  letter-spacing: 1.5rem;
  transition: 0.3s;
}

.logo-black p:not(:hover) {
  letterw-spacing: 1.5rem;
  transition: 0.3s;
}

