:root {
  --primary-bg: #242526;
  --secondary-bg: #fff;
  --primary-text-color: #555;
  --secondary-text-color: #cecece;
  --border-radius: 8px;
  --speed: 500ms;
}
.dropdown-menu {
  position: absolute;
  background-color: #edd72d ;
  min-width: 100%;
  min-height: 100%; 
  top: 0; 
  left: 0; 
  padding-left: 100px;
  padding-top: 100px;
  box-sizing: border-box;
  font-size: 30px;
  display: flex;
  justify-content:center;
  align-items:center;
}
.dropdown-menu ul {
  list-style: none;
  border: 1px solid #cccccc;
  margin-top: 0;
  font-weight: 500;
  letter-spacing: 3px; 
}
.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY();
  transition: var(--speed) ease;
}

/* .dropdown-item  {
  animation: animate 2s linear forwards;
}
@keyframes animate {
  0% { 
    height: 0px;
  }
  100% {
    height: 100%;
  }
} */

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}


.menu-container {
  border: 1px solid rgb(85, 75, 90) ;
}

.menu-trigger {
  cursor: pointer;
  border: 1px solid #cccccc;
  width: 50px;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  border-radius: var(--border-radius);
  z-index: 100;
}

.dropdown-item {
  margin-top: 30px;
  border: 1px solid #cccc;
}

.dropdown-item:hover {
  cursor: pointer;
  letter-spacing: 1rem; 
  opacity: 1;
  visibility: visible;
  transition: 400ms ease;
}

.dropdown-item:not(:hover) {
  transition: 400ms ease;
}

.dropdown-content {
  width: 69%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 20vh;
}

/* 14 */
.btn {
  background: rgb(255,151,0);
  border: none;
  z-index: 1;
  font-size: 15px;
}
.btn:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #070606;
  background-image: linear-gradient(315deg, rgb(30, 30, 52) 0%, #111111 74%);
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.btn:hover {
  color: white;
}
.btn:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.btn:active {
  top: 2px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #111111;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
