:root {
  --primary-bg: #242526;
  --secondary-bg: #fff;
  --primary-text-color: #28282B;
  --secondary-text-color: #cecece;
  --border-radius: 8px;
  --speed: 500ms;
  --letter-spacing: 1em;
}
.dropdown-menu {
  position: absolute;
  background-color: #edd72d;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

::selection {
  background: var(--primary-text-color);
  color: #fff;
}
.dropdown-menu ul {
  list-style: none;
  border: 1px solid #cccccc;
  margin-top: 0;
  font-weight: 500;
  letter-spacing: 3px;
}
.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY();
  transition: var(--speed) ease;
}

.dropdown-menu.active li {
  animation: falling 1s ease;
  visibility: visible;
  overflow: hidden;
  transform-origin: bottom center;
}

@keyframes falling {
  5% {
    transform: rotateX(240deg);
  }

  7% {
    transform: rotateX(150deg);
  }

  15% {
    transform: rotateX(200deg);
  }

  20% {
    transform: rotateX(175deg);
  }

  40%,
  50% {
    transform: rotateX(180deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translatey(-20px);
  transition: var(--speed) ease;
}
/* .dropdown-menu. li {
  animation: move-text 0.75s forwards;
  animation: falling 0.5s ease-out;
}
@keyframes move-text {
  0% {
    bottom: -0.2em;
    opacity: 1;
  }
  50% {
    bottom: 0.2em;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
} */

.menu-container {
  display: flex;
  justify-content: center;
  color: var(--primary-text-color);
}

.menu-trigger {
  cursor: pointer;
  border: 1px solid #cccccc;
  width: 69%;
  position: fixed;
  border-radius: var(--border-radius);
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

.dropdown-item {
  margin-top: 30px;
  border: 1px solid #cccc;
}

.dropdown-item:hover {
  cursor: pointer;
  letter-spacing: 1rem;
  opacity: 1;
  visibility: visible;
  transition: 400ms ease;
}

.dropdown-item:not(:hover) {
  transition: 400ms ease;
}

.dropdown-content {
  width: 69%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 20vh;
}

/* 14 */
.btn {
  background: rgb(255, 151, 0);
  border: none;
  z-index: 1;
  font-size: 15px;
}
.btn:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #070606;
  background-image: linear-gradient(315deg, rgb(30, 30, 52) 0%, #111111 74%);
  box-shadow:
    inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.btn:hover {
  color: white;
}
.btn:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.btn:active {
  top: 2px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #111111;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:
    inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.nav-icon {
  color: #cccccc;
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #cccccc;
  margin: 6px 0;
  transition: 0.4s;
}

.bar2 {
  width: 25px;
  height: 5px;
  background-color: #cccccc;
  margin: 6px 0;
  transition: 0.4s;
}

.bar1-inactive {
  transform: translate(0, 11px) rotate(-45deg);
  background-color: #333;
}

.bar2-inactive {
  opacity: 0;
}

.bar3-inactive {
  background-color: #333;
  transform: translate(0, -11px) rotate(45deg);
}

.logo {
  letter-spacing: 0.5rem !important;
  color: white
}

.logo p:hover {
  letter-spacing: 1rem;
  transition: 0.2s;
}



